html{
    height: 100%;
}
body{
    background: #E6E6E6;
    height: 100%;
    
}
.navbar-red{
    background-color: #E71010;
    border-color: #D10505;
    color: white;
}
.navbar{
    border-radius: 0px;
}
.navbar-header>a{
/*    text-decoration: none;*/
    color: white;
}
.navbar-header>a:hover{
/*    text-decoration: none;*/
    color: #B40606;
}
.navbar-nav>li>a{
    color: white;
    font-size: medium;
    }
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #B40606;
    border: #E71010;
    color: white;
/*    font-size: medium;*/
}
.navbar-brand {
    padding: 0px;
    padding-left: 15px;
    padding-top: 5px;
}


.panel-default {
    margin-top: 12%;
    width: 30%;
    margin-left: 35%;
}
.panel{
  background: rgba(255,255,255,0.5);  
}
.img-login{
    width: 200px;
}
.panel-heading{
    padding: 0px;
}
.panel-default>.panel-heading{
    background:  rgba(255,255,255,0.7);
}
.badge-style{
  margin-left: -5px;
    margin-top: -15px;
    border: 2px solid white;
    background: #B40606;
    color: white;
}
.nav-side-menu{
    background: #E71010;
    position: relative;
    margin-top: -20px;
    height: 100%;
}
.menu-content>li{
    padding: 15px;
    border: 1px solid #B40606;
    text-decoration: none;
}
.menu-content>li>a{
    color: white;
}
.menu-list>ul{
    list-style: none;
    padding-left: 0px;
}
.drop_icon{
    padding-right: 10px;
    float: right;
    color: white;
}
.menu-content>li:hover{
    background: #960202;
}
.sub-menu{
    background: black;
    position: relative;
/*    margin-top: -20px;*/
/*    margin-left: 10px;*/
}
.sub-menu>li{
    padding: 15px;
    border: 1px solid #B40606;
    text-decoration: none;
}
.sub-menu>li>a{
    color: white;
}
.menu-content>ul{
    list-style: none;
    padding-left: 0px;
}
.drop_icon{
    padding-right: 10px;
    float: right;
    color: white;
}
.sub-menu>li:hover{
    background: #F09C13;
    color: black;
}
.footer-bg{
    background:#E71010; 
    padding: 10px;
    margin-top: -20px;
    position: absolute;
    width: 100%;
}
.well-style{
    margin-right: 3%;
}
.table-responsive{
    margin-top: 15px;
}
.table-hover>tbody>tr:hover {
    background-color: #F5CACA;
}
.selected_row{
        background-color: #F76363;
}
